/*###################### ROOT #######################*/

:root {
  --primary-color: #ff985e;
  --white-color: #ffffff;
  --gap: 3rem;
  --backgroun-color: #301a1a;
  --secondary-color: #21b0af;
  --font: 'Arima', cursive;
  font-size: 62.5%;
}

/*###################### GERAL #######################*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
  font-size: 2rem;
  color: var(--primary-color);
}

h2 {
  font-size: 5.5rem;
}

a {
  text-decoration: none;
}

.white-bg {
  background: var(--white-color);
  color: var(--primary-color);
}

.section {
  min-height: 100vh;
}

.main-bg {
  background: linear-gradient(
    63.13deg,
    var(--backgroun-color) 50%,
    #8e5d52 50%
  );
  background-size: cover;
  background-position: center center;
  color: var(--white-color);
  animation: backAnimation 5s infinite ease;
}

.main-content {
  max-width: 120rem;
  margin: auto auto;
  padding: 8rem var(--gap);
}



/*###################### MENU #######################*/

.menu {
  position: fixed;
  height: 10vh;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  border-bottom: 0.1rem solid var(--primary-color);
}

.menu h1 {
  font-size: 2.3rem;
  color: var(--primary-color);
  font-weight: 700;
}

.menu h1 a {
  color: inherit;
  transition: 0.3s;
}

.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 1.8rem;
  font-size: 2.3rem;
  color: var(--primary-color);
  position: relative;
  transition: 0.2s ease-in-out;
}

.menu h1:hover,
.menu ul li a:hover {
  color: var(--secondary-color);
  font-size: 2.4rem;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

/*###################### HOME #######################*/

.home-content {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1.5fr;
  gap: var(--gap);
  min-height: 100vh;
}

.home-content .meu-nome {
  font-family: 'Arima', cursive;
  font-size: 5rem;
}

.header-text {
  font-family: 'Arima', cursive;
  font-size: 2.5rem;
}

.dev-text {
  animation: animDevText 5s;
  margin-bottom: 3rem;
}

.dev-text-anim {
  color: var(--primary-color);
}

.hello-text {
  animation: animHelloText 3s;
}

@keyframes animDevText {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes animHelloText {
  from {
    transform: translateY(-1500%);
  }

  to {
    transform: translateY(0%);
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  gap: 5rem;
}

.links a {
  display: flex;
  font-size: 2.5rem;
  background-color: var(--white-color);
  text-decoration: none;
  margin-top: 5rem;
  color: var(--primary-color);
  border-radius: 5%;
  padding: 1rem 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.links a:hover {
  color: var(--secondary-color);
}

.img-perfil {
  width: 100%;
  animation: imgAnimation 4s ease-in-out;
}

@keyframes imgAnimation {
  from {
    opacity: 0;
    margin-left: 100px;
  }

  to {
    opacity: 1;
    margin-left: 0px;
  }
}

.header-img {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  justify-content: center;
  align-items: center;
}

/*###################### ABOUT #######################*/

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
}

.about-content header h2 {
  text-align: center;
}

.img-about {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 10rem;
  justify-content: center;
  align-items: center;
}
.img-about img {
  max-width: 40rem;
  border-radius: 50%;
  
}

/*###################### BTN TO TOP #######################*/
.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  color: var(--primary-color);
  background: var(--white-color);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid var(--primary-color);
  transform: rotate(-90deg);
}

/*#################### MEDIA QUERIES ######################*/

@media (max-width: 1024px) {

  * {
    margin: auto;
    padding: auto;
  }

  .menu {
    display: none;
  }

  .main-content {
    padding: 0;
    margin: auto auto;
  }

  .home-content {
    padding: 2rem;
    margin-right: 5rem;
  }

  .main-bg {
    background: var(--backgroun-color);
  }

  .header-img {
    margin: auto;
    padding: auto;
    justify-content: center;
  }

  .img-perfil {
    width: 60%;
    animation: none;
  }

  .home-content,
  .about-content {
    grid-template-columns: 1fr;
  }

  .about-content header {
    margin-right: 5rem;
    padding: 6rem;
  }

  .img-about {
    display: block;
    margin: 10rem auto;
    padding: auto;
  }

  .links {
    flex-direction: column;
    margin: 5rem;
  }

  .links a {
    margin: 0;
  }
}
